@import '../../styles/Variables.scss';

.hero { 
  background-image: url('../../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  h1,
  h2 {
    color: $white-100;
    max-width: 650px;
    font-size: 74px;
    margin: auto;
  }

  h2 {
    max-width: 735px;
    font-size: 28px;
  }

  button {
    

    font-weight: 400;
    font-size: 20px;
    display: block;
    padding: 16px 64px;
    font-size:20px;
    color:#FFFFFF;
    border-style:none;
    background-color:#2091f9;
    border-radius: 35px;
    margin: auto;
  }
}

.heroHeader {
  padding: 54px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    li {
      list-style: none;
      color: $white-100;
      font-size: 16px;
      cursor: pointer;

      + li {
        margin-left: 38px;
      }
      > img {
        cursor: default;
      }
    }
  }
}

.backgroundImage {
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: 100vw 99vh;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
